<%= form_for @file, url: cloudfiles_path do |f| %>

<% if @file.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@file.errors.count, "error") %> prohibited this file from being saved:</h2>
 
    <ul>
    <% @file.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>


  Назва:<br>
   <%= f.text_field :name %><br />
  Опис:<br>
   <%= f.text_field :description %><br />
  
  Виберіть файл який бажаєте завантажити: <%= f.file_field :ffile %><br />

   Приховати від інших користувачів?    
   <%= f.check_box :security %><br>

  <%= f.submit "Завантажити" %>

<% end %>
