
<%= search_form_for @q do |f| %>
  <%= f.search_field :name_cont %>
  <%= f.submit %>
<% end %>

<% @cloudfiles.each do |p| %>
	<h1><%= p.name %></h1>
    <h3>Опис:</h3>
    <b><%= p.description %></b><br>
<%= link_to "Download", p.ffile.url %>
   	<% if p.user_id == current_user.id %>
		<p><%= link_to "edit", edit_cloudfile_path(p.id) %> |
		<%= link_to "delete", cloudfile_path(p.id), method: :delete %> |
	<% else %>

    <% end %>
    <hr>
<% end %>
             