<%= search_form_for @q do |f| %>
  <%= f.search_field :name_cont %>
  <%= f.submit "Знайти" %>
<% end %>

<% if @cloudfiles == [] %>
    <p>Жодного файлу не знайдено</p>
<% else %>
   <% @cloudfiles.each do |p| %>
    <% if current_user.id == p.user_id %>
    
    	<h1><%= link_to p.name, cloudfile_path(p.id) %></h1>
   		<%= link_to "Завантажити", p.ffile.url %><br>
   		<p><%= link_to "Редагувати", edit_cloudfile_path(p.id) %> |
		<%= link_to "Видалити", cloudfile_path(p.id), method: :delete %> 
   		<hr>
    <% end %>
<% end %>
<% end %>

             